.Select-control {
    background-color: rgb(25, 25, 25) !important;
}

.Select.is-focused > .Select-control {
    background-color: #222 !important;
}

.Select-placeholder {
  background-color: #222 !important;
}

/* The !important part is the trick here. this overrides the setting of the label everywhere else */
.Select-value-label {
    color: white !important;
}


.Select-menu-outer {
  background-color: rgb(0, 255, 255) !important;
  color: white !important;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    border: 1px solid grey !important;
    border-radius: 4px;
}

.VirtualizedSelectOption {
    background-color: #222 !important;
    color: white !important;
 }

.VirtualizedSelectFocusedOption {
    background-color: #222 !important;
    opacity: .7 !important;
}


.Select.is-focused:not(.is-open) > .Select-control {
    background-color: #222 !important;
    border-color: var(--primary) !important;
    box-shadow: none !important;
}
